/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 1640px;
 
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
input {
  outline:none;
 }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-sidebar{

/*Properties*/
  display: flex;
  flex-direction: column;
  width: 118px;
  height: 1580px;
  align-items: center;
/* Background */
  background: #ECECF6;
}
.nav-list{
  width: 118px;

}

.nav-list li{
  width: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -20px;
  margin-left: -20px;
}
.nav-list li:hover{

  border-right: 3px solid black;
}
.inner-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;

}

.inner-icon:hover{
 background-color: white;
 border-radius: 15px;
}

.main-container
{
  display: flex;
  width: 100%;
  background-color:  #F5F5FD;
}

.right{
  width: 30%;
  background: #ECECF6;
}
.middle{
  width :70%;
}
.app-container{
  display: flex;
  margin-bottom: -150px;
}

.search-bar
{
  border-radius: 26.5px;
  height: 40px;
  width: 280px;
  background: #FFFFFF;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
  padding-left: 15px;
  
}
.search-icon
{
  position: relative;
  right: 30px;
}

.static-children{
  margin: 0 auto;
  background-color: white;
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
}
.static-children:hover{
  transform: scale(1.1); 
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.text-green{
  color: green;
}

.newsImg{
    margin: 0 auto;
    border-radius: 20px;
    background-color: transparent;

}
.center-text-in-grid
{
  margin: 0 auto;
}

.dropdown-bar
{
  position: relative;
  right: 55px;
  top: 50px;
  background-color: #FFFFFF;
  padding-right: 15px;
  padding-left: 5px;
  border-radius: 10%;
}
.hide
{
  display: none;
}
.logout-button
{
  font-family: Noto Sans;
  background-color: #2F2F2F;
  color: white;
  font-weight: 700;
  width:100px;
  height: 40px;
  margin-top: 8px;
  border-radius: 10px;
}
.logout-button:hover{
  color: black;
  background-color:  #D9D9EB;
}
.shadow-box
{
  background: #FFFFFF;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.slideButton {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px; 
  color: black;
  background-color: #ECECF6;
}

.slideButton:hover{
  background-color: #2F2F2F;
  color: white;
}
.usercard{
  position: absolute;
  top: 238px;
  bottom: 400px;
  right: 400px;
  left: 400px;
  z-index: 999;
  font-family: Noto Sans;
  margin: 0 auto;
  width: 400px;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: 2px solid black;
}
.confirmboard{
  position: absolute;
  top: 360px;
  bottom: 400px;
  right: 400px;
  left: 300px;
  z-index: 999;
  font-family: Noto Sans;
  padding: 20px;
  margin: 0 auto;
  width: 30%;
  height: 200px;
  background-color: white;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: 2px solid black;
}

.confirmboard-animepage{
  position: absolute;
  top: 360px;
  bottom: 400px;
  right: 400px;
  left: 300px;
  z-index: 999;
  font-family: Noto Sans;
  padding:20px;
  margin: 0 auto;
  width: 30%;
  height: 210px;
  background-color: white;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: 2px solid black;

}
.cardimage{
  margin: 0 auto;
}
.userimg{
  border-radius: 50%;
}

.filter-background{
  filter: contrast(180%);
}

.notshow{
  display: none;
}
.space
{
  margin-right: 80px;
}
@media(max-width: 1024px)
{
  .statics{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 

  }
  .static-children{
    margin-top: 20px;
  }
}

@media(max-width: 768px)
{
  .statics{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .static-children{
    margin-top: 20px;
  }
}
@media(max-height: 1600px)
{
  body{
    height: 1580px;
  }
}